# Porta do PostgreSQL no host (altere caso já tenha outro PostgreSQL rodando na 5432)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=url
DB_USER=url
DB_PASSWORD=url

# Porta do Redis no host (altere caso já tenha outro Redis rodando na 6379)
REDIS_HOST=localhost
REDIS_PORT=6379

# Porta da aplicação conteinerizada
APP_PORT=8080
